beautifulsoup4==4.9.3
certifi==2021.5.30
charset-normalizer==2.0.4
decorator==4.4.2
ffmpeg==1.4
hermetrics==0.1.13
idna==3.2
imageio==2.9.0
imageio-ffmpeg==0.4.4
lxml==4.6.5
moviepy==1.0.3
numpy==1.19.5
Pillow==8.3.2
pkg-resources==0.0.0
proglog==0.1.9
requests==2.26.0
soupsieve==2.2.1
tqdm==4.62.0
urllib3==1.26.6
youtube-dl==2021.6.6
